/*Fonts		*/
	
@font-face {
    font-family: 'clearsansthin';
    src: url('../font/clearsans/clearsans-thin.woff') format('woff2'),
         url('../font/clearsans/clearsans-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clearsansmedium';
    src: url('../font/clearsans/clearsans-medium.woff') format('woff2'),
         url('../font/clearsans/clearsans-medium.woff') format('woff');
    
}	
		

/*			*/		

		body{
			font-family: 'clearsansthin';
			overflow-x: hidden;
			text-rendering: optimizeLegibility;
			font-weight: normal;
		   -webkit-font-smoothing: antialiased !important;
			-moz-osx-font-smoothing: grayscale !important;
			font-smoothing: antialiased !important;
			font-style:normal;
			color:#393a3a;
		}
		
		
		#text37{
			padding-top: 30px;
			font-size: 20px;
		}
		
		#text37 h1{
			
    		margin-bottom: 2%;
			
			margin-top: 3%;
			}
		
		h1{
			font-family: 'clearsansthin';
			font-weight:normal;
			font-size:40px;
			
			-webkit-font-smoothing: antialiased !important;
			-moz-osx-font-smoothing: grayscale !important;
			font-smoothing: antialiased !important;
			font-style:normal;
			color:#393a3a;
			margin-top: 6%;
    		margin-bottom: 4%;
    		line-height: 105%;
			
			}
		

		#cont_header{
			padding:14px 0 14px 0;  
			background: #e4e5e5;
			border-bottom: 3px solid #0889d1;
		}
		
		#cont_header_text{
			font-family: 'clearsansthin';
			margin: auto; 
			/*width: 55%;*/
			text-align: center;
			font-size: 19px;
		}
		
		#pad-left{
			padding-left: 1%;
		}
		
		#pad-right{
			padding-right: 1%;
		}
		
		.linea-header{
			border-left: 1px solid; 
			width: 1px; 
			height: 1px;
			/*margin-left: 8px;*/
			margin: 0 12px 0 7px;
		}
		
		#text-medio{
			margin:auto; 
			width: 43%; 
			margin-top: 30px;
			font-size: 40px;
			/*font-weight: bold;*/
		}
		
		#text-medio-inicio{
			  
				width: 55%;
				margin-top: 10px;
				margin-bottom: 0px;
				font-size: 30px;
				text-align: center;
				 margin: auto;
				 font-size:1.6em;
		}
		
		#text-medio-final{
			/*margin: auto;
			width: 46%;*/
			margin-top: 0px;
			margin-bottom: 40px;
			font-size: 30px;
			text-align: center;
		
		}
		
		.menu{
			/*float: left;
			margin-right: 25px;*/
			/*width: 70px;*/
			font-family: 'clearsansthin';
			cursor: pointer;
			font-size: 1.3em;
			list-style-type: none; 
			display: inline-block;
			margin-right: 1%;
		}
		
		.header-boton{
			padding: 2px; 
			padding-left: 15px; 
			padding-right: 12px; 
			background-color: #0889d1; 
			border-radius: 16px; 
			color: white; 
			margin-left: 8px;
			cursor: pointer;
			margin-right: 4px;
		}
		
		.linea{
			border-left: 1px solid;
			width: 1px;
			height: 20px;
			float: right;
		}
		
		.cont_desarrollo{
			/*background: #0f8acd;*/
			/**/
			/*width: 24.4%;*/
			width: 24.8%;
			float: left;
			/*margin-right: 5px;*/
			/**/    height: 555px;
			color: white;
			font-family: 'clearsansthin';
			font-weight:100;
			/*background-image: url("../images/pantalla.jpg");*/

		}
		
		
		#dvSrvRedes{
			width: 25%;
			height: 555px;	
			position: absolute;
			left: 0;
			/*background: url("../images/centrales.jpg") no-repeat;*/
			overflow: hidden;
			background: rgba(8,138,209,1);

		}
		
		#dvSrvRedes2{
			width: 25%;
			height: 555px;	
			position: absolute;
			left: 25%;
			/*background: url("../images/centrales.jpg") no-repeat;*/
			overflow: hidden;
			background: rgba(53,159,253,1);

		}
		
		#dvSrvRedes3{
			width: 25%;
			height: 555px;	
			position: absolute;
			left: 50%;
			/*background: url("../images/centrales.jpg") no-repeat;*/
			overflow: hidden;
			background: rgba(61,161,204,1);

		}
		
		#dvSrvRedes4{
			width: 25%;
			height: 555px;	
			position: absolute;
			left: 75%;
			/*background: url("../images/centrales.jpg") no-repeat;*/
			overflow: hidden;
			background: rgba(94,194,227,1);

		}
		
		.smoke{

		opacity: 0.3;
		transition: visibility 0s 2s, opacity 0s linear;
		}
	
	.ajust{
		padding: 0px ; 
		width: 47.8% ; 
		padding-top: 40px ; 
		padding-bottom: 30px ;
		text-align: center;
		color: white;
		height: 50px;
		background: #0889d1;
		margin: auto;
	}
	
	
	.smoke2{
		/*background-color: black;*/
		background-image: url("../images/pantalla2.jpg");
		background-size: cover;
		opacity: 0.3;
		transition: visibility 0s 2s, opacity 0s linear;
	}
	
	.media-texto-general{
		/*margin-left: 10%;*/
	}
	
	.smoke3{
		/*background-color: black;*/
		background-image: url("../images/pantalla3.jpg");
		background-size: cover;
		opacity: 0.3;
		transition: visibility 0s 2s, opacity 0s linear;
	}
	
	#dvImagenRedes{
				width: 100%;
				height: 100%;	
				position: absolute;
				right: 0;
				background: url("../images/meh.jpg") no-repeat;
				background-size:cover;
				transition: all 1.2s;
				opacity: 0.3;

			}
			
	#dvImagenRedes2{
				width: 100%;
				height: 100%;	
				position: absolute;
				right: 0;
				background: url("../images/meh2.jpg") no-repeat;
				background-size:cover;
				transition: all 1.2s;
				opacity: 0.3;

			}

#dvImagenRedes3{
				width: 100%;
				height: 100%;	
				position: absolute;
				right: 0;
				background: url("../images/meh3.jpg") no-repeat;
				background-size:cover;
				transition: all 1.2s;
				opacity: 0.3;

			}		

#dvImagenRedes4{
				width: 100%;
				height: 100%;	
				position: absolute;
				right: 0;
				background: url("../images/meh4.jpg") no-repeat;
				background-size:cover;
				transition: all 1.2s;
				opacity: 0.3;

			}	

			#menu_cont{
				width: 100%;
				height: 106px;
				/*font-size: 1.3em;*/
			}			
		
		.meh{
			background-image: url("../images/meh.jpg");
		}
		
		#cont_menu{
			width: 75%; 
			margin: auto; 
			/*padding-top: 10px;*/
		}
		
		.titulo{
			margin: auto;
			width: 23%;
		}
		
		.desarrollo{
			width: 60%;
			margin: auto;
			margin-top: 10px;
			margin-bottom: 30px;
			text-align: center;
			font-size: 17px;
		}
		
		.vermas-button{ 
				  font-family: 'clearsansmedium';
    background-color: #0889d1;
    padding: 5px 0 9px 0;
    border-radius: 25px;
    color: white;
    width: 56%;
    border: 2px solid;
    cursor: pointer;
    position: absolute;
    top: 320px;
    right: 9%;
    text-align: center;
    font-size: 20px;
				
		}
		
		#cont_banner{
		width: 100%;
		float: left;
		/*height: 83%;*/
		
		}
		
		#cont_banner h2{
			font-size:1.9em;
			margin:0;}
		
		#caja_menu{
			float: left;
			position: absolute;
			z-index: 99;
			padding-left: 4%;
		}
		
		#caja_opciones{
			/*float: left;*/
			/*margin-left: 240px;*/
			/*font-size: 1.3em;*/
			/**/width: 100%;
			padding: 20px;
			position: absolute;
			left: 30%;
		}
		
		.vermas-button:hover{
			background: #59c7ff;
		}
		
		.cointainer_logo_redes{
			    position: absolute;
				width: 100%;
				top: 165px;
		
		}
		
		
		#icono-desarrollo{
			margin: auto;
			width: 17%;
			/*margin-top: 60px;*/
			margin-bottom: 20px;
		}
		
		#cont_extrategia{
			width: 100%;
			float: left;
		
		}
		
		.cont_block_principal{
			width: 50%;
			float: left;
			font-size: 26px;
			/*border-top: 1px solid #e3e3e3;*/
			/*height: 245px;*/
		}
		
		.cont_block_principal2{
			width: 46%;
			float: left;
			font-size: 26px;
			padding-left:4%;
		}
		
		.dark_block{
			background: #0889d1;
			width: 50%;
			padding: 40px;
			padding-left: 0px;
			padding-right: 0px;
			float: left;
			text-align: center;
			color: white;
			height: 50px;
			cursor:pointer;
			transition:1s;
			
		}
		
		.dark_block:hover, .light_block:hover{
			background: #025c8e;
			cursor:pointer;
			transition:1s;
			
			}
		
		.light_block{
			
			background: #0ca2ee;
			margin: auto;
			width: 50%;
			padding: 40px;
			padding-left: 0px;
			padding-right: 0px;
			float: left;
			text-align: center;
			color: white;
			height: 50px;
			cursor:pointer;
			transition:1s;
			
		}
		
		#barra-blanca{
			margin: auto;  
			float: left; 
			width: 100%;
			border-bottom: 1px solid #ecebeb;
			height: 250px;
			padding-top:10px;
		}
		
		.bluefog{
			width: 100%;
			height: /*534px*/460px;
			position: absolute;
			background: rgba(8,138,209,0.5);
		
		}
		
		.cont_imgs{
			width: 100%;
			padding-top: 8%;
		}
		
		
		
		#barra-azul{
			height: 156px;
			margin: auto;
			background: #088ad1;
			float: left;
			width: 100%;
			color: white;
			
		}
		
		.cont_sabemos{
			/*margin: auto;
			width: 51%;*/
			/*margin-top: 55px;*/
			margin-top: 4%;
			font-size: 26px;
			text-align: center;
			
		}
		
		.titulo_general{
			width: 80%;
			margin: auto;
			margin-top: 50px;
		}
		
		#fomtext{
			width: 90%;
			font-size: 18px;
			margin-bottom: 15px;
		}
		
		.texto_general{
			margin: auto;
			margin-bottom: 21px;
		}
		
		.texto_datos{
			width: 70%;
			/*margin: auto;*/
			margin-top: 10px;
			font-size: 18px;
			margin-bottom: 1%;
		}
		
		.round-input{
			padding: 8px;
			background-color: #ffffff;
			border-radius: 16px;
			width: 30%;
			border: 1px solid black;
			text-align: center;
		}
		
		.cont_proyectos{
			float: left;
			width: 100%;
			border-bottom: 1px solid #e3e3e3;
			height:534px;
			background-image: url("../images/bg_clientes.jpg");
		}
		
		
		.tope{
			top: /*403px*/345px;
		}
		
		.cont_mini_proy{
			width: 80%;
			/*margin: auto;*/
			padding-bottom: 5px;
		}
		
		.proyect{
			width: 25%;
			float: left;
		}
		
		.proyectos-button{
			width: 26%;
			text-align: center;
			border: 3px solid;
			border-radius: 30px;
			padding:3px 8px 8px 8px;
			margin:auto;
			cursor: pointer;
			background: #0889d1;
			color: white;
			font-size: 24px;
			margin-top: 60px;
		}
		
		.noinput{
			padding: 3%;
			width: 46.1%;
			margin:0;/*
			margin: 5px 2% 5px 0;*/
		}
		
		.contenedor-inputs{
			width:100%;
			}
		
		
		.cont_contact{
			width: 45%;
			float: left;
			padding-left:5%;
			/*margin-bottom: 20px;*/
			
			height: 405px;
		}
		
		.contact_cont{
			/*margin-top: 35px;*/
		}
		
		.boton-enviar{
			padding: 8px;
			background-color: #0889d1;
			border-radius: 25px;
			color: white;
			border: 0px;
			width: 35%;
			text-align: center;
			margin-top: 10px;
			font-size: 21px;
		}
		
		#cont_cont_right{
		}
		
		.ajuste_cont_right{
				/*margin-left: 9%;*/
				/*margin-top: 7%;*/
				margin-bottom: 4%;
		}
		
		.cont_footer{
			width: 100%;
			float: left;
			background: #0889d1;
			color: white;
		}
		
		.footer_text_primero{
			margin: auto;
			width: 85%;
			margin-top: 25px;
			margin-bottom: 20px;
			font-size: 20px;
			text-align: center;
		}
		
		.footer_text_segundo{
		    margin: auto;
			width: 26%;
			margin-top: 10px;
			margin-bottom: 0px;
			text-align: center;
		}
		
		.mark{
			width: 41%; 
			text-align: center;
		}
		
		.ajust-form{
			font-size: 32px;
			margin-bottom: 15px;
		}
		
		.boton{
			display: none;
		}
		
		.mah{
			width: 18%;
		}
		
		.protocol1{
			margin:auto;
			padding-bottom: 3%;
			width:80%;
			overflow:hidden;
		}
		
		.protocol2{
			margin:auto;
			width:80%;
			overflow:hidden;
		}
		
		#forme{
			width: 88%;
		}
		
		.footer-ajuste{
			width: 56%; 
			margin-top: 20px; 
			/*margin-left: 10%; */
			font-weight: bold;
		
		}
		
		#creamos{
			margin-top:4%;
		}
		
		#megusta{
			width: 72%;  
			margin-right: auto;
			margin-bottom: 15px;
		}
		
		/*****web.html****/
		
		.cont_web{ width: 100%; background: #c9cacb; height: 476px; }
		
		#cont_cont_web{ width: 80%; margin: auto; padding-top: 6%; color: white; }
		
		#cont_icon_web{ width: 61px; margin: auto; }
		
		#cont_text_web{ text-align: center; width: 67%; margin: auto;  }
		
		.text18{ font-size:18px; } .text20{ font-size: 20px; } .text29{ font-size: 29px !important; } .text40{ font-size: 40px; }
		
		#cont_fondo_blanco{ height: 177px; width: 100%; float: left; }
		
		#cont_cont_fondo_blanco{ width: 80%; margin: auto; text-align: center; padding-top: 3%; }
		
		#cont_proyecto{ width: 100%; height: 385px; /*background: #e70021;*/ float: left; }
		
		.cont_cont_proyecto{ width: 44%; height: 278px; float: left; /*background: #117093;*/ margin: 3% 2% 0 3%; }
		
		#cont_img_proyecto{ width: 100%; height: 394px; background: url("../images/pcs.png"); background-size: contain;
    background-repeat: no-repeat;  margin-top: -8.2%; }
		
		#cont_optimizacion{ width: 100%; height: 510px; float: left; }
		
		#cont_optimizacion_img{ height: 100%; width: 50%; float: left; overflow: hidden; background-image: url(../images/blupc3.jpg); background-size: cover; position: relative; }
		
		#cont_optimizacion_texto{ width: 50%; float: left; }
		
		#optimizacion_texto{ width: 90%; margin: 6%; margin-top: 0%; float: left; }
		
		#cont_google{ width: 100%; float: left; height: 483px; /*background: #bababa;*/ text-align: center; background-image: url("../images/background.jpg"); background-size: cover; }
		
		#cont_icon_head{ width: 20%; margin: auto; }
		
		#icon_head{ background-image: url("../images/icono-head.png"); width: 154px; height: 117px; }
		
		#cont_cont_google{ width: 70%; height: 306px; margin: 4% auto; /*background: #0882c4;*/ }
		
		#cont_historial{ width: 100%; height: 472px; /*background: #00e710;*/ float: left; }
		
		#cont_cont_historia{ width: 35%; float: left; /*background: black;*/ margin-top: 8%; }
		
		#gran_historia{ width: 80%;margin: auto; /*margin-right: 0;*/ height: 230px; /*background: #dfe700;*/ }
		
		#cont_mini_historias{ width: 65%; float: left; /*background: #616419;*/ height: 100%; }
		
		.historia{ width: 49%; height: 52%; border: 0px solid; float: left; /*background: #643b19;*/ }
		
		.normal_cont_proyecto{ margin-left: 5px; width: 50%; margin-right: 0px; }
		
	.tooltiptext {  
		content: " ";
		position: relative;
		top: 45%;
		right: -47px;
		/*margin-top: -5px;*/
		margin-top: 22%;
		border-width: 25px;
		border-style: solid;
		border-color: transparent transparent transparent #f7f7f7;
		float: right;
	}
	
	.tooltiptext2 {  
		content: " ";
		position: relative;
		top: 45%;
		right: -47px;
		/*margin-top: -5px;*/
		margin-top: 17%;
		border-width: 25px;
		border-style: solid;
		border-color: transparent transparent transparent #f7f7f7;
		float: right;
	}
	
	.top {
		content: " ";
		position: absolute;
		border-width: 14px;
		border-style: solid;
		width: 0%;
		bottom: 0%;
		left: 50%;
		margin: auto;
		height: 0%;
		border-color: transparent transparent white transparent;
	}


		
		.cont_pad_historia{ padding: 30px; padding-top: 10px;  }
		
		.cont_pad_extra{ padding-top: 30px; }
		
		#historia-other{ height: 53%;  border-top: 2px solid white; /**/background-color: #f7f7f7; }
		
		#historia-over{ margin-top: -10px; height: 54%; /**/background-color: #f7f7f7; }
		
		#cont_desarrollo_form{ width: 100%; height: 450px; float: left;	}
		
		#text_titulo_desarrollo{ text-align: center; margin-bottom: 10px;  margin-top: 0; }
		
		#text_sub_desarrollo{ margin-top: 0; text-align: center; font-weight: 100; }
		
		#form_desarrollo{ width: 70%; margin: auto; }
		
		#cont_form{ width: 42%; float: left; margin-right: 3%; }
		
		#cont_cont_desarrollo_form{ width: 60%; height: 384px; margin: 2% auto; /*background: blue;*/ }
		
		.form_input_desarrollo{ width: 100%; padding: 15px; border: 3px solid #efefef; border-radius: 5px; }
		
		#cont_des_area{ width: 55%; float: left; }
		
		#textarea_form{ width: 100%; height: 30%; border: 3px solid #efefef; border-radius: 8px; }
		
		#desarrallo_form{background: #0889d1;border-radius: 24px;width: 50%;border: 1px solid white;padding: 7px 10px 7px 10px;font-size: 24px;color: white;margin-top: 9%; font-family: 'clearsansmedium';}
		
		.footer_text_segundo{ margin: auto; width: 43%; margin-top: 25px; margin-bottom: 20px; font-size: 20px; text-align: center; }
		
		#back { width: 100%; height: 100%; background-image: url("../images/background2.jpg"); }
		
		.titleh1{ color: white; font-size: 50px; margin-top: 20px; line-height: 1.2; }
		
		#mediaimg{ background: #1c7cb6; height: 100%; width: 100%; position: absolute; opacity: 0.8; }

		#cont_mediaimg{ position: relative; width: 100%; height: 100%; }	
		
		.line{ width: 49.8%; height: 50%; border: 1px solid white; border-right: 0; border-bottom: 0; float: left; }
		
		.line:nth-child(1), .line:nth-child(3){ border-left: 0; }
		
/********************/
@media screen and (max-width :1024px)  {
		/*.dark_block{
			width: 49%;
		}
		
		.light_block{
			width: 49%;
		}*/
		
		#cont_optimizacion{ height: auto; }
		
		#cont_optimizacion_img{ width: 100%; height: 45%; }
		
		#cont_optimizacion_texto{ width: 100%; }
		
		#cont_historial{ height: auto; }
		
		#cont_cont_historia, #cont_mini_historias{ width: 100%; height: auto; margin-top: 0; }
		
		#gran_historia{ height: 200px; }
		
		#historia-over, #historia-other, .historia{ height: 252px; margin-top: 0; }
		
		#cont_desarrollo_form{ height: auto; }
		
		#cont_cont_desarrollo_form{ width: 100%; }
		
		.footer_text_segundo{ width: 60%; }
}


@media screen and (max-width : 640px) and (orientation: landscape)  {
	.dark_block, .light_block{
		height: 56px;
		padding-top: 34px;
		width: 39.5%;
	}
	
	.ajust{
		width: 316px;
	}

}

@media screen and (max-width : 568px) and (orientation: landscape) { #historia-over, #historia-other, .historia{ height: 270px !important; margin-top: 0; } }

@media screen and (max-width : 360px) and (mix-width : 359px) and(orientation: portrait)  {
	.dark_block, .light_block{
		width: 32% !important;
	}
}



@media screen and (max-width : 768px) and (orientation: landscape) {
		
		body{
			overflow-x: hidden;
		}
		
		#cont_header_text{
			width: 100%;
			font-size: 11px;
		}
		
		#cont_menu{
			width: 90%;
			padding-top: 0px;
		}
		
		#caja_opciones{
			display: none;
		}
		
		.historia{ width: 50%;  }
		
		#raya{
			background-color: #006df0;
			width: 52px;
			height: 9px;
		}

		#blanco{
			background-color: white;
			width: 52px;
			height: 3px;
		}
		
		.boton{
			display: block;
			width: 52px;
			height: 35px;
			float: right;
			/*margin-left: 470px;*/
			padding-top: 30px;/**/
			cursor: pointer;
		}
		
		#cont_cont_web, #cont_text_web{ width: 100%; }
		
		#cont_optimizacion{ height: 540px; }
		
		.cont_desarrollo{
			height: auto;
			width: 100%;
			/*padding-bottom: 60px;*/
		}
		
		#icono-desarrollo{
		    width: 10%;
			margin-bottom: 10px;
		}
		
		.mark{
			width: 22% !important;
		}
		
		.cointainer_logo_redes{
		    top: 20px;
		}
		
		.titulo{
			width: 12%;
		}
		
		.vermas-button{
			width: 100px;
			top: 180px;
			text-align: center;
			left: 72%;
		}
		
		#dvSrvRedes{
			width: 100%;
			/**/height: 270px;
			position: relative;
		}
		
		#dvSrvRedes2{
			width: 100%;
			height: 270px;
			left: 0;
			/*top: 414px;*/
			position: relative;
		}
		
		#dvSrvRedes3{
			width: 100%;
			height: 265px;
			left: 0;
			/*top: 672px;*/
			position: relative;
		}
		
		#dvSrvRedes4{
			width: 100%;
			height: 269px;
			left: 0;
			/*top: 936px;*/
			position: relative;
		}
		
		.media-mark{
			width: 20% !important;
		}
		
		.cont_sabemos{
			text-align: center;
			margin-top: 22px;
			margin-bottom: 22px;
			font-size: 24px;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
		
		.cont_sabemos:nth-child(2){ margin-top: 30px; }
		
		#text-medio{
			width: 80%;
		}
		
		#text-medio-inicio{
		    /**/width: 90%;
			text-align: center;
		}
		
		#text-medio-final{
			/*width: 84%;*/
			text-align: center;
		}
		
		.cont_block_principal{
		    width: 100%;
			height: auto;
		}
		
		.cont_block_principal2{
			width: 89%;
			height: auto;
		}
		
		.cont_proyectos{
			height: auto;
		}
		
		.bluefog{
			height: 380px;
		}
		
		.tope{
			top: 300px;
		}
		
		.media-cont-contact{
			height: 320px;
		}
		
		.dark_block {
			height: 56px;
			/*padding-top: 34px;*/
			width: 50%;
		}
		
		.light_block {
			/*padding-top: 35px;*/
			height: 56px;
			width: 50%;
		}
		
		.ajust-form{
		    margin-left: 0%;
		}
		
		.ajust{
		    width: 340px;
		}
		
		.cont_mini_proy{
			width: 76%;
		}
		
		.proyectos-button{
			width: 50%;
			margin-top: 3%;
			margin-bottom: 3%;
		}
		
		.protocol1{
			
			margin: auto;
		}
		
		.protocol2{
			left: 40px;
			top: 180px;
		}
		
		.proyect{ width: 50%; float: left; }
		
		.cont_contact{
			width: 100%;
			height: auto;
		}
		
		.contact_cont{ width: 100%; }
		
		#forme{
			width: 90%;
			margin: auto;
			margin-left: 0;
			margin-bottom: 3%;
		}
		
		.footer_text_primero{
			width: 80%;
		}
		
		#fomtext{
			width: 70%;
			margin-left: 0%;
		}
		
		#cont_cont_right{ margin-bottom: 3%; }
		
		#cont_fondo_blanco{ height: auto; }
		
		#cont_cont_fondo_blanco{ width: 100%; padding-bottom: 4%; }
		
		#barra-azul{ height: auto; }
		
		#cont_proyecto { height: auto; }
		
		#cont_optimizacion_img{ display: none; }
		
		.cont_cont_proyecto{width: 90%;margin: 6%;margin-top: 2%;height: 280px;}
		
		#cont_img_proyecto{ /*display: none;*/ height: 100%; background-size: contain; background-repeat: no-repeat; margin-top: 0px; }
		
		#optimizacion_texto{ width: 90%; }
		
		#cont_icon_head{ width: 24%; }
		
		#cont_historial{ height: auto;  }
		
		#cont_cont_historia{ margin-top: 0%; width: 100%; }
		
		#cont_mini_historias{ width: 100%; height: auto; }
		
		#cont_cont_desarrollo_form{ width: 100%; }
		
		#cont_optimizacion_texto { width: 90%; }
		
		#cont_google{ height: 410px; }
		
		.cont_pad_extra{ padding: 9px; width: 72%; }
		
		.cont_media_extra { padding: 9px; width: 72%; }
		
		#historia-over,#historia-other, .historia{ height: 230px; margin-top: 0; }
		
		#cont_desarrollo_form{ height: auto; padding-bottom: 3%; }
		
		#cont_form, #cont_des_area { width: 100%; }
		
		.footer_text_segundo{ width: 85%; }
		
		.top{ bottom: -1%; }
		
		#cont_cont_google{ width: 83%; }
		
		
		
		
}

@media screen and (max-width : 768px) and (min-width : 760px) and (orientation: portrait) {
		
		body{
			overflow-x: hidden;
		}
		
		#cont_header_text{
			width: 84%;
			font-size: 11px;
		}
		
		#cont_menu{
			width: 90%;
			padding-top: 0px;
		}
		
		#caja_opciones{
			display: none;
		}
		
		#raya{
			background-color: #006df0;
			width: 52px;
			height: 9px;
		}

		#blanco{
			background-color: white;
			width: 52px;
			height: 3px;
		}
		
		.boton{
			display: block;
			width: 52px;
			height: 35px;
			float: right;
			/*margin-left: 470px;*/
			padding-top: 30px;/**/
			cursor: pointer;
		}
		
		#cont_cont_web, #cont_text_web{ width: 100%; }
		
		#cont_optimizacion{ height: 540px; }
		
		.cont_desarrollo{
			height: 984px;
			padding-bottom: 60px;
		}
		
		#icono-desarrollo{
		    width: 10%;
			margin-bottom: 10px;
		}
		
		.mark{
			width: 22% !important;
		}
		
		.cointainer_logo_redes{
		    top: 20px;
		}
		
		.titulo{
			width: 12%;
		}
		
		.vermas-button{
			width: 100px;
			top: 180px;
			text-align: center;
			left: 72%;
		}
		
		#dvSrvRedes{
			width: 100%;
			height: 256px;
		}
		
		#dvSrvRedes2{
			width: 100%;
			height: 400px;
			left: 0;
			top: 414px;
		}
		
		#dvSrvRedes3{
			width: 100%;
			height: 265px;
			left: 0;
			top: 672px;
		}
		
		#dvSrvRedes4{
			width: 100%;
			height: 269px;
			left: 0;
			top: 936px;
		}
		
		.media-mark{
			width: 20% !important;
		}
		
		.cont_sabemos{
			text-align: center;
			margin-top: 44px;
		}
		
		.cont_sabemos:nth-child(2){ margin-top: 30px; }
		
		#text-medio{
			width: 80%;
		}
		
		#text-medio-inicio{
		    /*width: 80%;*/
			text-align: center;
		}
		
		#text-medio-final{
			/*width: 84%;*/
			text-align: center;
		}
		
		.cont_block_principal{
		    width: 100%;
		}
		
		.cont_block_principal2{
			width: 89%;
			height: auto;
		}
		
		.cont_proyectos{
			height: auto;
		}
		
		.bluefog{
			height: 380px;
		}
		
		.tope{
			top: 300px;
		}
		
		.media-cont-contact{
			height: 320px;
		}
		
		.dark_block {
			height: 56px;
			/*padding-top: 34px;*/
			width: 50%;
		}
		
		.light_block {
			/*padding-top: 35px;*/
			height: 56px;
			width: 50%;
		}
		
		.ajust-form{
		    margin-left: 0%;
		}
		
		.ajust{
		    width: 340px;
		}
		
		.cont_mini_proy{
			width: 76%;
		}
		
		.proyectos-button{
			width: 50%;
			margin-top: 3%;
			margin-bottom: 3%;
		}
		
		.protocol1{
			
			margin: auto;
		}
		
		.protocol2{
			left: 40px;
			top: 180px;
		}
		
		.proyect{ width: 50%; float: left; }
		
		.cont_contact{
			width: 100%;
			height: auto;
		}
		
		.contact_cont{ width: 100%; }
		
		#forme{
			width: 90%;
			margin: auto;
			margin-left: 0;
			margin-bottom: 3%;
		}
		
		.footer_text_primero{
			width: 80%;
		}
		
		#fomtext{
			width: 70%;
			margin-left: 0%;
		}
		
		#cont_cont_right{ margin-bottom: 3%; }
		
		#cont_fondo_blanco{ height: 138px; }
		
		#cont_cont_fondo_blanco{ width: 100%; }
		
		#barra-azul{ height: 130px; }
		
		#cont_proyecto { height: 720px; }
		
		#cont_optimizacion_img{ display: none; }
		
		.cont_cont_proyecto{width: 90%;margin: 6%;margin-top: 2%;margin-left: 3%;height: 352px;}
		
		#cont_img_proyecto{ /*display: none;*/ height: 100%; background-size: contain; background-repeat: no-repeat; }
		
		#optimizacion_texto{ width: 90%; }
		
		#cont_icon_head{ width: 24%; }
		
		#cont_historial{ height: auto; }
		
		#cont_cont_historia{ margin-top: 0%; width: 100%; }
		
		#cont_mini_historias{ width: 100%; height: auto; }
		
		#cont_cont_desarrollo_form{ width: 100%; }
		
		#cont_optimizacion_texto { width: 90%; }
		
		#cont_google{ height: 410px; }
		
		.cont_pad_extra{ padding: 9px; }
		
		.cont_media_extra { padding: 9px; }
		
		#historia-over,#historia-other, .historia{ height: 210px; margin-top: 0; }
		
		#cont_desarrollo_form{ height: 590px; }
		
		#cont_form, #cont_des_area { width: 100%; }
		
		.footer_text_segundo{ width: 90%; }
		
		.top{ bottom: -1%; }
		
		#cont_cont_google{ width: 83%; }
		
		
		
		
}


@media screen and (max-width : 415px) and (orientation: portrait)  {
		
		body{
			overflow-x: hidden;
		}
		
		.desarrollo{
		    width: 100%;
		}
		
		#caja_menu{ padding-left: 0; }
		
		#media-little{
			width: 76%;
		}
		
		.media-ico{
			width: 100%;
		}
		
		#cont_header{
			padding: 20px;
			padding-bottom: 20px;
		}
		
		#cont_header_text{
			width: 95%;
			/**/font-size: 13px;
		}
		
		#cont_menu{
			width: 88%;
		}
		
		#menu_cont { height: auto; }
		
		#caja_opciones{
			display: none;
			width: 100%; padding: 0px; position: absolute; left: 0%; top: 158px; background: white;  z-index: 99;
		}
		
		.medialine{ display: none; }
		
		ul { padding-left: 0px; margin: 0; }
		
		.menu{  width: 100%; padding: 20px; border-bottom: 1px solid; }
		
		#raya{
			background-color: #006df0;
			width: 52px;
			height: 9px;
		}

		#blanco{
			background-color: white;
			width: 52px;
			height: 3px;
		}
		
		.boton{
			display: block;
			width: 52px;
			height: 35px;
			/*margin-left: 265px;*/
			float: right;
			padding-top: 20px;/**/
			padding-bottom: 20px;
			cursor: pointer;
		}
		
		.noinput{ width: 93%; margin-bottom: 3%; }
		
		.cont_desarrollo{
			height: auto;
			width: 100%;
			padding-bottom: 0px;
		}
		
		#icono-desarrollo{
		    width: 10%;
			margin-bottom: 10px;
		}
		
		#barra-azul, #barra-blanca{
			height: auto;
		}

		.cointainer_logo_redes{
		    top: 20px;
		}
		
		.titulo{
			width: 23%;
		}
		
		.vermas-button{
			display: block;
			width: 110px;
			top: 150px;
			right: 20px;
			text-align: center;
		}
		
		#dvSrvRedes{
			width: 100%;
			height: 220px;
			position: relative;
		}
		
		#dvSrvRedes2{
			width: 100%;
			height: 230px;
			left: 0;
			top: /*40*/0px;
			position: relative;
		}
		
		#dvSrvRedes3{
			width: 100%;
			height: 230px;
			left: 0;
			top: /*63*/0px;
			position: relative;
		}
		
		#dvSrvRedes4{
			width: 100%;
			height: 230px;
			left: 0;
			top: /*86*/0px;
			position: relative;
		}
		
		.media-mark{
			width: 34% !important;
		}
		
		.cont_sabemos{
			/**/width: 90%;
			/**/font-size: 27px;
			margin: auto;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		
		#text-medio{
			width: 88%;
			font-size: 20px;
		}
		
		#text-medio-inicio{
		    width: 90%;
			/*font-size: 14px;*/
		}
		
		#text-medio-final{
			/*width: 85%;*/
			font-size: 14px;
		}
		
		.cont_block_principal{
		    width: 100%;
			height: 214px;
		}
		
		.cont_block_principal2{
			width: 95%;
			height: auto;
			margin-top: 5%;
		}
		
		.dark_block {
			height: 40px !important;
			padding-top: 40px !important;
			width: 50%;
			font-size: 20px;
			word-wrap: break-word;
		}
		
		.texto_general{
			width: 100%;
			text-align: center;
		}
		
		#creamos{
			width: 100%;
			text-align: center;
		}
		
		#megusta{
			width: 100%;  
			margin-right: auto;
		}
		
		.light_block {
			height: 40px;
			padding-top: 40px;
			width: 50%;
			font-size: 20px;
			word-wrap: break-word;
		}
		
		#cont_extrategia{ margin-bottom: 5%; }
		
		#mediah1{ text-align: center; }
		
		.ajust{
		    width: 49%;
			font-size: 20px;
			padding-top: 26px;
		}

		.cont_mini_proy{
			width: 96%;
		}
		
		.proyect{
			width: 60%;
			float: none;
			margin: auto;
		}
		
		#tres, #cuatro, #cinco, #seis{
			display: none;
		}
		
		.round-input{
			width: 60%;
			margin-left: 55px;
		}
		
		.tope{
			top: 290px;
		}
		
		.cont_proyectos{
		    height: auto;
		}
		
		.bluefog{
			height: 390px;
		}
		
		.proyectos-button{
			width: 80%;
			left: 80px;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		
		.titulo_general{
			width: 90%;
			margin-left: 8%;
		}
		

		.protocol1{
			left: 22px;
			top: 40px;
			
		}
		
		.protocol2{
			left: 15px;
			top: 130px;
		}
		
		.cont_contact{
			height: auto;
			width: 100%;
			padding-bottom: 3%;
		}
		
		.ajuste_cont_right{
			width: 39%;
		}
		
		#forme{
			width: 97%;
			margin: auto;
		}
		
		#fomtext{
		    width: 90%;
		}
		
		#otro-text{
			width: 86%;
		}
		
		.footer_text_primero{
			width: 95%;
		}
		
		/*.cont_contact{
			height: 342px;
		}*/
		
		.contact_cont{ width: 97%; margin: auto; }
		
		.footer-ajuste{
			margin-left: 0%;
		}
		
		.media-texto-general{
			margin-left: 0% !important;
		}
		
		#cont_cont_web, #cont_text_web, { width: auto; }
		
		#cont_fondo_blanco{ height: 200px; }
		
		.normal_cont_proyecto { margin-left: 0px; width: 100%; margin-right: 0px; }
		
		#cont_proyecto, .cont_cont_proyecto { width: 91%; height: auto; margin: auto; float: left; }
		
		.cont_cont_proyecto{ float: none; width: 80%; margin: auto; margin-top: 4%; }
		
		#cont_img_proyecto{ margin-top: 13px; height: 180px; }
		
		#cont_optimizacion{ height: auto; }
		
		#mediame{ width: 100%; }
		
		#cont_optimizacion_img { height: 240px; width: 100%; }
		
		.line{ width: 49%; }
		
		#mediaimg, #cont_optimizacion_texto { width: 100%; }
		
		#cont_cont_google{ width: 85%; }
		
		#cont_icon_head{ width: 50%; }
		
		#cont_cont_historia{ width: 100%; margin-top: 3%; margin-bottom: 3%; }
		
		#cont_mini_historias{ height: auto; width: 100%; }
		
		#historia-over, #historia-other{ height: auto; }
		
		.historia{ width: 100%; height: auto; }
		
		#gran_historia { width: 85%; height: auto; padding-bottom: 5%; }
		
		#cont_historial{ height: auto; }
		
		#cont_desarrollo_form{ height: 680px; }
		
		#cont_cont_desarrollo_form{ width: 100%; }
		
		#cont_form, #cont_des_area { width: 100%;  }
		
		.footer_text_segundo{ width: 90%; }
		
		.titleh1{ font-size: 2.9em; }
		
		#cont_text_web, #cont_cont_web{ width: auto; font-size: 13px; }
		
		#cont_cont_fondo_blanco{ width: auto; }
		
		.top{ bottom: -1%; }
}

@media screen and (max-width : 320px) and (orientation: portrait)  {
		
		body{
			overflow-x: hidden;
		}
		
		#menu_cont{ height: 60px; }
		
		#media-little{
			width: 60%;
		}
		
		.media-ico{
			width: 100%;
		}
		
		#cont_header{
			padding: 20px;
			padding-bottom: 20px;
		}
		
		#cont_header_text{
			width: 95%;
			font-size: 11px;
		}
		
		#cont_menu{
			width: 98%;
		}
		
		#caja_opciones{
			display: none;
		}
		
		#raya{
			background-color: #006df0;
			width: 52px;
			height: 9px;
		}

		#blanco{
			background-color: white;
			width: 52px;
			height: 3px;
		}
		
		.boton{
			display: block;
			width: 52px;
			height: 35px;
			float: right;
			padding-top: 15px;/**/
			cursor: pointer;
		}
		
		.cont_desarrollo{
			width: 100%;
			height: auto;
		}
		
		#icono-desarrollo{
		    width: 10%;
			margin-bottom: 10px;
		}
		
		#barra-azul{
			height: auto;
		}

		.cointainer_logo_redes{
		    top: 20px;
		}
		
		.titulo{
			width: 23%;
		}
		
		.vermas-button{
			width: 31%;
			top: 150px;
			right: 0px;
			text-align: center;
		}
		
		#dvSrvRedes{
			width: 100%;
			/*height: 220px;*/
			position: relative;
		}
		
		#dvSrvRedes2{
			width: 100%;
			height: 230px;
			left: 0;
			/*top: 396px;*/
			position: relative;
		}
		
		#dvSrvRedes3{
			width: 100%;
			height: 230px;
			left: 0;
			/*top: 625px;*/
			position: relative;
		}
		
		#dvSrvRedes4{
			width: 100%;
			height: 230px;
			left: 0;
			/*top: 852px;*/
			position: relative;
		}
		
		.cont_pad_historia{ width: 72%; }
		
		
		
		.media-mark{
			width: 22% !important;
		}
		
		.cont_sabemos{
			/*width: 65%;*/
			text-align: center;
			/*font-size: 15px;*/
			margin-top: 20px;
		}
		
		#text-medio{
			width: 88%;
			font-size: 20px;
		}
		
		#text-medio-inicio{
		    width: 84%;
			text-align: justify;
			font-size: 24px;
		}
		
		#text-medio-final{
			/*width: 85%;*/
			text-align: center;
			font-size: 13px;
		}
		
		.cont_block_principal{
		    width: 100%;
			height: 213px;
		}
		
		.cont_block_principal2{
			width: 89%;
			height: auto;
		}
		
		.texto_general{
			width: 92%;
			text-align: justify;
		}
		
		.dark_block {
			height: 55px !important;
			padding-top: 20px !important;
			width: 50%;
			font-size: 20px;
			word-wrap: break-word;
		}
		
		.light_block {
			height: 54px;
			padding-top: 21px;
			width: 50%;
			font-size: 20px;
			word-wrap: break-word;
		}
		
		.ajust{
		    width: 49%;
			font-size: 20px;
			padding-top: 26px;
		}
		
		.ajust-form{
			width: 100%;
			font-size: 28px;
		}
		
		.ajust-form h1{
			margin-top:10px !important;}
		
		.cont_mini_proy{
			width: 100%;
		}
		
		.proyect{
			width: 50%;
		}
		
		#tres, #cuatro, #cinco, #seis{
			display: none;
		}
		
		#cont_proyecto{ width: 100%; }
		
		#cont_img_proyecto{ height: 165px; }
		
		#cont_icon_head{ width: 55%; }
		
		.round-input{
			width: 60%;
		}
		
		.proyectos-button{
			width: 87%;
			left: 50px;
		}
		
		.titulo_general{
			width: 90%;
			margin-left: 15px;
		}

		.protocol1{
			left: 8px;
			top: 70px;
			margin: 0px;
		}
		
		.protocol2{
			left: 0px;
			top: 180px;
		}
		
		.cont_contact{
			width: 100%;
			height: 430px;
			padding-left: 0;
		}
		
		.ajuste_cont_right{
			width: 57%;
			margin-left: 5%;
		}
		
		#forme{
			width: 89%;
			margin: auto;
		}
		
		#fomtext{
		    width: 90%;
			margin: auto;
			margin-bottom: 4%;
		}
		
		#otro-text{
			width: 86%;
			margin-left: 7%;
		}
		
		.footer_text_primero{
			width: 95%;
		}
		
		.cont_contact{
			height: auto;
		}
		
		.footer-ajuste{
			margin-left: 8%;
		}
		
		.media-texto-general{
			margin-left: 8% !important;
		}
		
		.media-cont-contact{
			/*height: 272px !important;*/
		}
		
		.mark{
			width: 42% !important;
		}
}

